{% extends "templates/base.html" %}

{% block content %}
  {% for i in range(data['Название']|length) %}
    <div class="col-lg-4 mb-5 col-md-6">
      <div class="wine_v_1 text-center pb-4 pt-5">
        {% if data['Цена'][i] == minimal_price %}
        <img src="assets/profitable.png" style="width:10rem;height: 10rem;position:absolute;right: -20px;top: -20px;">
        {% endif %}
        <img src="images/{{data['Картинка'][i]}}" alt="Image" class="img-fluid">
        <div>
          <h3 class="heading mt-3 mb-3 text-dark">{{data['Название'][i]}}</h3>
          <p>
            {% if data['Сорт'][i] %}
              Сорт винограда - {{data['Сорт'][i]}}<br/>
            {% endif %}
            {% if data['Цена'][i] %}
              <span class="price">{{data['Цена'][i]}} руб.
            {% endif %}</span>
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}